.button {
    background: $light-orange;
    border: none;
    border-radius:4px;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        background:$orange;
      }
      &:focus {
        text-decoration: none;
        border: none;
        outline-style: none;
      }
  }
  
  .button--link {
    background: none;
  }
  
  .button--secondary {
    background: $orange;
    &:hover {
        text-decoration: none;
        background:fade-out($orange, .15);
      }
      &:focus {
        text-decoration: none;
        border: none;
        outline-style: none;
      }
       
   
  }
  